[Unit]
Description=SMZJG 所有组件统一启动服务
After=network.target hk-smzjg-components.service
Requires=hk-smzjg-components.service

[Service]
User=root
Type=simple
# 守护脚本用于监控并自动重启组件
ExecStart=/opt/hk/smzjg/script/service/start-services.sh
ExecStop=/opt/hk/smzjg/script/service/stop-services.sh all

# 设置 Restart 策略用于崩溃时自动拉起
Restart=on-failure
RestartSec=5s

# 日志输出
StandardOutput=journal
StandardError=journal

# 脚本是“常驻运行型”
RemainAfterExit=false

[Install]
WantedBy=multi-user.target

