[Unit]
Description=Procmate Process Manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/procmate watch
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
