[Unit]
Description=Procmate Process Companion Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/procmate watch
User=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target